.main {
    margin-top: 20px;

    &__div {
        display: grid;

        @media screen and (min-width:768px) {
            grid-template-columns: repeat(2, 1fr);

        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);

        }

        article {
            text-align: center;
            margin-left: 40px;
            margin-right: 40px;
            font-family: roboto;

            i {
                color: #0D6EFD;
                font-size: 40px;

                @media screen and (min-width:768px) {
                    font-size: 60px;
                }
            }
        }
    }

    &__separation {
        width: 80%;
        height: 2px;
        margin-left: 40px;
        margin-top: 20px;
        background-color: rgb(8, 6, 8);

        @media screen and (min-width:768px) {
            margin-left: 80px;
        }

        @media screen and (min-width:1024px) {
            margin-left: 120px;
        }
    }

    section {
        margin-top: 10px;

        h2 {
            text-align: center;
            font-family: roboto;

        }

        .sections {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-left: 50px;
            margin-right: 50px;
            background-color: white;
            padding-bottom: 20px;
            padding: 16px;


            @media screen and (min-width:768px) {
                margin-left: 125px;
                margin-right: 125px;
            }

            @media screen and (min-width:1024px) {
                margin-left: 200px;
                margin-right: 200px;
            }

            .input__div {
                display: flex;
                flex-direction: column;
                width: 100%;
                
            }
            
            div {
                text-align: center;
                
                @media screen and (min-width:768px) {
                    display: flex;
                    justify-content: center;
                    gap: 4px;
                    
                }

            }

            &__form__input {
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                padding: 8px 12px;
                background-color: #D9D9D9;
                margin-top: 10px;
                width: 100%;



            }



            textarea {
                font-family: 'Roboto', sans-serif;
                background-color: #D9D9D9;
                text-align: left;
                margin-left: 47px;
                margin-top: 10px;
                border-radius: 4px;
                margin: 0 auto;
                width: 100%;
                font-size: 14px;


            }


            button {
                background-color: #0D6EFD;
                font-family: roboto;
                color: white;
                border: none;
                font-size: 20px;
                border-radius: 4px;

            }

            .error-message {
                display: none;
                color: rgb(199, 0, 0);
                font-family: sans-serif;
                font-size: 14px;
            }
        }
    }
}